
/* Reset margins & paddings for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}
main {
    margin: 0 auto;
    padding-top: 80px;

}

/* General styles for all <a> links */
a {
    color: var(--text-color);
    text-decoration: none; /* Removes underline from links */
    margin-right: 10px;

}   
    

header {
    position: fixed;
    top : 0; left: 0; right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    }
header h1 {
    font-size: 24px;
    color: #333333;
}

.hero-section {
    margin-top: -20px;
    padding: 40px 50px;        
    background: linear-gradient(90deg, #ffffff, #ffffff);
    border-radius: 8px;
    display: flex;                
    align-items: center;          
    justify-content: space-between;
    gap: 60px;                  
}




.hero-image img {
    width: 750px;           
    max-width: 100%;
    height: auto;
    display: inline-block;
}




.hero-section h2 {
    margin-left: 100px;
    margin-bottom: 15px;
    font-size: 3rem;
    max-width: 100%; 
    width: 600px;
}

.hero-section p {
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333333;
}



/* 
.website-list {
    margin-top: 20px;
    padding: 40px 50px;        
    background-color: rgb(255, 255, 255);
    display: flex;                
    align-items: center;     
.website-logos-container {
       display: flex;                


}
}
.website-list .website-logos-container img {
    width: 100px;           
    max-width: 100%;
    height: auto;
    display: block;
}
*/



.body-section {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 750px;
}
button {
    padding: 5px;
    background-color: #088179;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}
.delete-button {
    padding: 3px;
    display: inline-block;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
}


.no-products {
    text-align: center;
    font-size: 1.2rem;
    color: #666666;
    margin-top: 20px;
    
}

.track-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}


.tracked-products-section {
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid #000000;


}
.tracked-products-section  .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.tracked-products-section h1 {
    text-align: center;
    margin-top: 20px;
}

.tracked-products-section .box-container .box {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 25px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-image{
  width: 50%;
  max-width: 250px;
  height: auto;
}

.delete-button:hover {
    background-color: #c0392b;
    transform: scale(1.03);
    transition: transform 0.3s, color 0.3s;


}
.product_url:hover {
    color: #088179;
    transition: transform 0.3s, color 0.3s;

}
button:hover {
    background-color: #066666;
    transform: scale(1.015);
    transition: transform 0.4s, color 0.4s;


}







