{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
 


  <!-- NavBar -->

<header class="banner">
  <h1>Pricly</h1>
</header>

<main>

  <!-- Hero -->
<section class="hero-section">
  <div class="hero-content">
    <h2>Never Miss a Deal Again!</h2>
    <p>Track prices across the web</p>
    <p>Get notified when they drop.</p>
    <p>Save money automatically.</p>
  </div>
  <div class="hero-image">
      <img src="/static/images/image.png" alt="An Image">
  </div>
  </section>

  <!-- Form area -->
  <section class="body-section">
    <h3>Start Tracking Products</h3>

    <form class="track-form" method="POST">
      <div class="form-group">
        <label for="product_url">Product URL</label>
        <input
          type="url"
          id="product_url"
          name="product_url"
          placeholder="Paste any link!"
          required
        >
      </div>

      <div class="form-group">
        <label for="target_price">Target Price</label>
        <input
          type="number"
          id="target_price"
          name="target_price"
          min="0"
          step="0.01"
          placeholder="e.g. 29.99"
        >
      </div>

      <button type="submit">Start Tracking</button>
    </form>
  </section>



  <!-- Tracked Products -->
  <section class="tracked-products-section" id="products">
    <h1>Tracked Products</h1>
    {% if products %}
      <div class="box-container">
        {% for product in products %}
        <div class="box">
          <div class="image">
            {% if product.image_url %}
              <img src="{{ product.image_url }}" class="product-image" alt="Product image">
            {% else %}
              <img src="/static/images/sample_product.png" alt="Sample Product">
            {% endif %}
            </div>

        <div class="details">
          
          <h2><a href="{{ product.url }}" target="_blank">{{ product.name }}</a></h2>
          <p>Current Price: ${{ product.current_price }}</p>
          <p>Target Price: ${{ product.target_price }}</p>
          <button class="delete-button"><a href="/delete/{{ product.id }}">Remove Product</a></button>
        </div>
    </div>

    {% endfor %}
  {% else %}
    <p>No products tracked yet. Add one above to get started!</p>
  {% endif %}
  </section>




</main>

{% endblock %}
