{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
 


  <!-- NavBar -->

<header class="banner">
  <h1>Pricly</h1>
</header>

<main>

  <!-- Hero -->
<section class="hero-section">
  <div class="hero-content">
    <h2>Never Miss a Deal Again!</h2>

    <p>Pricly automatically tracks prices across the web and alerts you when they drop. Just add a product, set your target price, and let Pricly do the monitoring for you, so you can save money without constantly checking listings.</p>
  </div>
  <div class="hero-image">
      <img src="/static/images/image.png" alt="An Image">
  </div>
  </section>

   <!--
  <section class="website-list">
  <div class="sub-content">
    <h1>Currently Supported Websites!</h1>
  </div>
  <div class = "website-logos-container">
          <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Walmart_spark_%282025%29.svg/1280px-Walmart_spark_%282025%29.svg.png"> 
      <div class="box">

      </div>


  </div>
  </section>
  -->
  <!-- Form area -->
  <section class="body-section">
    <h3>Start Tracking Products</h3>

    <form class="track-form" method="POST">
      <div class="form-group">
        <label for="product_url">Product URL</label>
        <input
          type="url"
          id="product_url"
          name="product_url"
          placeholder="Paste any link!"
          required
        >
      </div>

      <div class="form-group">
        <label for="target_price">Target Price</label>
        <input
          type="number"
          id="target_price"
          name="target_price"
          min="0"
          step="0.01"
          placeholder="e.g. 29.99"
          required
        >
      </div>

      <button type="submit">Start Tracking</button>
    </form>
  </section>



  <!-- Tracked Products -->
  <section class="tracked-products-section" id="products">
    <h1>Tracked Products</h1>
    {% if products %}
      <div class="box-container">
        {% for product in products %}
        <div class="box">
          <div class="image">
            {% if product.image_url %}
              <img src="{{ product.image_url }}" class="product-image" alt="Product image">
            {% else %}
              <img src="/static/images/sample_product.png" alt="Sample Product">
            {% endif %}
            </div>

        <div class="details">
          
          <h2><a href="{{ product.url }}" target="_blank" class="product_url">{{ product.name }}</a></h2>
          <p>Current Price: ${{ product.current_price }}</p>
          <p>Target Price: ${{ product.target_price }}</p>
          <a href="/delete/{{ product.id }}" class="delete-button">Remove Product</a>
        </div>
    </div>

    {% endfor %}
  {% else %}
    <p class="no-products">No products tracked yet. Add one above to get started!</p> 
  {% endif %}
  </section>




</main>

{% endblock %}
